<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>List of Employees</h2>
    <a href="/employees/add">Add Employee</a>
    <ul>
        <% data.forEach(employee=>{ %>        
            <li><%=employee.name%><a href="/employees/<%=employee.id%>/edit">Edit</a> || <a href="/employees/<%=employee.id%>/delete">Delete</a></li>
        <% }) %> 
    </ul>
</body>
</html>